<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Every API call needs this; only the debug and profile manifests carry
         it implicitly, so without it here a release build fails every request. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--
         Credentials live in the Android KeyStore and must not be backed up or
         transferred: allowBackup covers Android 11 and below, the extraction
         rules cover cloud backup and device-to-device transfer on 12+.
         See CLAUDE.md > Security. -->
    <application
        android:label="Falcon Crest"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Facebook app id (public, not a secret): required by Facebook for
             add-to-story shares. Blank until marketing registers the app at
             developers.facebook.com; story shares fall back gracefully. -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="" />
        <!-- Lends the product picture to the app a share targets; scoped to
             the cache folder the temporary image is written to. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_paths" />
        </provider>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Sharing opens store links in whichever app claims https URLs. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <!-- The invite sheet opens Messenger and Viber by their own schemes;
             Facebook, WhatsApp and TikTok ride the https entry above. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="fb-messenger"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="viber"/>
        </intent>
        <!-- The product share targets these apps with ACTION_SEND; without
             the entries Android 11+ reports them as not installed. -->
        <package android:name="com.facebook.orca"/>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.whatsapp"/>
        <package android:name="com.viber.voip"/>
    </queries>
</manifest>
